@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@100&family=Roboto+Slab:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

.App {
  text-align: center;
}
